* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

body {
    margin: 0 0 55px 0;
}

.main {
    max-width: 100%;
    background: white;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: white;
    display: flex;
    overflow-x: auto;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 12px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.link:focus {
    color: rgba(236,189,114,255);
}

/* .material-icons-outlined {
    font-size: 18px;
} */

.font-cormorant {
    font-family: 'Cormorant Garamond', serif;
    color: rgba(117,73,30,255);
    font-weight: 600;
}

/* h1 {
    display: flex;
    align-content: center;
} */

.walimatul {
    background-image: url('Invitation Dark Flower Big.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 144.4444%;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    /* justify-content: center; */
    padding: 40px 0;
}

.rsvp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.rsvp form div {
    margin: 0 auto;
}

/* .details {
    background-image: url('wedding-invitation-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 144.4444%;
} */